[submodule "vendor/reactive-cocoa"]
	path = vendor/reactive-cocoa
	url = git://github.com/ReactiveCocoa/ReactiveCocoa.git
[submodule "vendor/cocoa-lumberjack"]
	path = vendor/cocoa-lumberjack
	url = git://github.com/CocoaLumberjack/CocoaLumberjack
